
.section-title {
    text-align: left;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    color: white;
  }
  .section-title h4 {
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  .section-title div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: #af9a7d;
  }