.tituloPortada {
  font-size: 3.5rem;
  text-align: left;
  padding-top: 273px;
  color: #303743;
}

.hero-image{
    background: url("../assets/zapatilla.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-decoration: none; 
  
   }
.hero-text {
    text-decoration: none;
}

.botonesPortada {
  float: right;
  margin: 1%;
}