* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;;
 }

 #root {
   background-color: #1F2938;
   margin-left: 0;
   
}
 
 

  .section-title {
   text-align: center;
   margin-bottom: 4rem;
   color: white;
 }
 .section-title h4 {
   font-size: 2rem;
   letter-spacing: 3px;
   text-transform: capitalize;
   margin-bottom: 1rem;
 }
 .section-title div {
   width: 5rem;
   height: 5px;
   margin: 0 auto;
   background: #af9a7d;
 }
 
 .img-container {
   position: relative;
 }
 .img-container img {
   width: 100%;
   display: block;
   transition: all 0.3s linear;
 }
 
 .carrera-link {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: scale(0);
   transition: all 0.3s linear;
 }
 .img-container:hover {
   background: rgba(0, 0, 0, 0.8);
 }
 .img-container:hover img {
   opacity: 0.3;
 }
 .img-container:hover .price-top {
   opacity: 0;
 }
 .img-container:hover .room-link {
   transform: translate(-50%, -50%) scale(1);
 }
